sudo: true
services:
  - docker
language: ruby
rvm:
  - 2.2.3

env:
  matrix:
    - ENV=testnvim
    - ENV=docker_test MAKE_ARGS=DOCKER_VIM=vim73
    - ENV=docker_test MAKE_ARGS=DOCKER_VIM=vim74-trusty
    - ENV=docker_test MAKE_ARGS=DOCKER_VIM=vim74-xenial
    - ENV=docker_test MAKE_ARGS=DOCKER_VIM=vim8069
    - ENV=docker_test MAKE_ARGS=DOCKER_VIM=vim-master

matrix:
  allow_failures:
    # Does not have Ruby currently (https://github.com/tweekmonster/vim-testbed/pull/23#issuecomment-285870332).
    - env: ENV=docker_test MAKE_ARGS=DOCKER_VIM=vim73
  fast_finish: true

install:
  - |
    if [ "$ENV" = "testnvim" ]; then
      eval "$(curl -Ss https://raw.githubusercontent.com/neovim/bot-ci/master/scripts/travis-setup.sh) nightly-x64"
      gem install neovim
    fi

script:
  - make $ENV $MAKE_ARGS
